span.certification {
    display: inline-flex
;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    padding: .06em 4px .15em !important;
    border: 1px solid rgba(0, 0, 0, .6);
    color: rgba(0, 0, 0, .6);
    line-height: 1;
    border-radius: 2px;
    margin-right: 7px;
}